#(project
  (#(meta
     (#(name kla)
      #(description "Clojure functions and macros for LFE")
      #(version "0.3.1")
      #(keywords ("LFE" "Lisp" "Library" "Utility" "Clojure"))
      #(maintainers
        ((#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
      #(repos
        (#(github "lfex/kla")))))
   #(app
     (#(mod #(kla ()))))
