{erl_opts, [debug_info, {src_dirs, ["test"]}]}.
{lfe_first_files, []}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
    {src_dirs, ["test", "src"]}
  ]}.
{deps, [
    {lfe, "0.8.0", {git, "git://github.com/rvirding/lfe.git", {tag, "v0.8"}}},
    {ltest, ".*", {git, "git://github.com/lfex/ltest.git", {tag, "0.3.1"}}}
  ]}.
