{lfe_first_files, ["src/clj-p.lfe"]}.

{deps, [
    {kla, {git, "git://github.com/lfex/kla.git", {tag, "0.6.1"}}}
  ]}.

{plugins, [
   {'lfe-compile', {git, "https://github.com/lfe-rebar3/compile.git", {tag, "0.4.0"}}}
  ]}.

{provider_hooks, [
   {pre, [{compile, {lfe, compile}}]}
  ]}.

{profiles, [
   {dev,
     [{deps,
       [{lfe, {git, "https://github.com/rvirding/lfe.git", {tag, "v1.0.2"}}}]}
      ]},
   {default, []},
   {test,
     [{deps,
        [{clj, {git, "https://github.com/lfex/clj.git", {tag, "0.4.1"}}},
         {lutil, {git, "https://github.com/lfex/lutil.git", {tag, "0.8.1"}}},
         {ltest, {git, "https://github.com/lfex/ltest.git", {tag, "0.8.2"}}}
        ]},
      {eunit_opts, [verbose]},
      {eunit_compile_opts, [
        {src_dirs, ["src", "test"]}
        ]}
      ]}
  ]}.
