{erl_opts, [debug_info, {src_dirs, ["test"]}]}.
{lfe_first_files, []}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
    {src_dirs, ["test", "src"]}
  ]}.
{deps, [
    {lfe, ".*", {git, "git://github.com/rvirding/lfe.git", "master"}},
    {lunit, ".*", {git, "git://github.com/lfex/lunit.git",  "master"}}
  ]}.
